DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/aloe_bienestar?schema=public"
NEXT_PUBLIC_SITE_URL="https://tu-dominio.com"
NEXT_PUBLIC_WHATSAPP_NUMBER="593XXXXXXXXX"
KUSHKI_API_URL="https://api.kushkipagos.com"
KUSHKI_PRIVATE_MERCHANT_ID=""
KUSHKI_PUBLIC_MERCHANT_ID=""
KUSHKI_WEBHOOK_SIGNATURE=""
